.promo{
  background-color: #073042;
}

.promo__container{
  background: url('../../images/promo-logo.svg') no-repeat center center;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 525px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.promo__title{
  color: #fff;
  font-size: 50px;
  line-height: 58px;
  max-width: 730px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0 0 100px 0px;
  letter-spacing: -0.04em;
}

@media (max-width:768px){
  .promo__container{
    max-height: 784px;
  }
}

@media (max-width:560px){
  .promo__container{
    max-height: 570px;
  }

  .promo__title{
    font-size: 31px;
    line-height: 39px;
  }
}

@media(max-width:768px) and (min-width:320px){
  .promo__container{
    background-size: calc((100vw - 320px)/(768 - 320) * (320 - 248) + 248px);
  }
}

@media (max-width:320px){
  .promo__container{
    background-size: 248px;
  }
}
