.search-form__button:hover{
  opacity: .8;
  transition: opacity .25s ease-in-out;
}

.search-form__container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 70px 0px;
  box-sizing: border-box;
}

.search-form__input-container{
  position: relative;
  border-bottom: 1px solid #424242;
  padding-bottom: 15px;
}

.search-form__input:focus{
  outline: none;
  box-shadow: 0px 0px 5px #4285F4;
}

.search-form__input{
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  background: no-repeat;
  border: 0;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #8B8B8B;
  border-radius: 50px;
}

.search-form__input-container:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 6px;
  top: 3px;
  border: 1px solid #424242;
  border-radius: 50%;
  background: url('../../images/search-icon.svg') no-repeat center center;
}

.search-form__search-container{
  box-sizing: border-box;
  padding-bottom: 45px;
}

.search-form__button {
  height: 34px;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  background: #4285F4;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  position: absolute;
  right: 2px;
  top: 2px;
  color: #fff;
  padding: 5px 12px 5px 12px;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #8B8B8B;
}

.search-form__switch-container{
  display: grid;
  grid-template-columns: 36px auto;
  margin: 0 auto;
  max-width: 174px;
  margin-top: 30px;
  gap: 10px;
}

.search-form__checkbox-text{
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch__input{
  visibility: hidden;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  transition: .4s;
}

.switch__input:checked + .switch__slider {
  background-color: #2BE080;
}

.switch__input:checked + .switch__slider:before {
  transform: translateX(16px);
}

.switch__slider {
  border-radius: 20px;
}

.switch__slider:before {
  border-radius: 50%;
}

.search-form__error {
  color: #EE3465;
  display: inline-block;
  height: 20px;
  width: 100%;
  font-size: 15px;
  line-height: 17px;
}

@media (max-width: 1024px) {
  .search-form__container{
    padding: 60px 30px 0px 30px;
  }
}

@media (max-width: 768px) {

  .search-form__search-container{
    grid-template-columns: 1fr;
    gap: 38px;
    padding-bottom: 57px;
  }

  .search-form__checkbox-text{
    text-align: right;
  }
}

@media(max-width:768px) and (min-width:560px){
  .search-form__container{
    padding: 60px calc((100vw - 560px)/(768 - 560) * (30 - 10) + 10px) 0px;
  }
}

@media (max-width: 560px) {
  .search-form__container{
    padding: 60px 10px 0px;
  }

  .search-form__checkbox-text{
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__input::placeholder {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__search-container{
    padding-bottom: 44px;
  }
}
