.auth-nav__link{
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.auth-nav__link:last-of-type {
  margin-right: 0;
}

.auth-nav__link:hover {
  opacity: .6;
  transition: opacity .25s ease-in-out;
}

.auth-nav__button{
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #2BE080;
  border-radius: 3px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.auth-nav__button:hover {
  opacity: .6;
  transition: opacity .25s ease-in-out;
}
