.nav-tab{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, 96px);
  max-width: 308px;
  gap: 10px;
  margin: 0 auto;
}


.nav-tab__link{
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #303030;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
}

.nav-tab__link:hover{
  opacity: .7;
  transition: opacity .25s ease-in-out;
}

@media (max-width:400px){
  .nav-tab{
    gap: 6px;
    max-width: 300px;
    grid-template-columns: repeat(auto-fit, 82px);
  }
  .nav-tab__link{
    font-size: 10px;
    line-height: 16px;
  }
}
